In [1]:
import pandas as pd
import numpy as np

In [2]:
master = pd.read_csv("https://storage.googleapis.com/additional-data/CummulatedClean_Nov22_with_lock/0_CMaster2_HPS_CDC_CPS_Vaccinated_with_lock.csv")

/Users/dev/miniforge3/envs/ml4t/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
us_states = pd.read_csv("us_states.csv")

In [6]:
master.columns

Index(['Unnamed: 0', 'YMFIPS', 'YEAR', 'MONTH', 'FIPS', 'STATE', 'LOCATION',
       'TBIRTH_YEAR', 'EEDUC', 'THHLD_NUMPER', 'THHLD_NUMKID', 'THHLD_NUMADLT',
       'WRKLOSS', 'KINDWORK', 'ANXIOUS', 'WORRY', 'DOWN', 'MORTLMTH',
       'MORTCONF', 'INCOME', 'REMPCT', 'CDCCOUNT', 'people_vaccinated',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated',
       'people_fully_vaccinated_per_hundred', 'lockdown'],
      dtype='object')

In [4]:
master.head()

,Unnamed: 0,YMFIPS,YEAR,MONTH,FIPS,STATE,LOCATION,TBIRTH_YEAR,EEDUC,THHLD_NUMPER,...,MORTLMTH,MORTCONF,INCOME,REMPCT,CDCCOUNT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,lockdown
0,0,2021-9-01,2021,SEP,1,AL,Alabama,1941,7,1,...,-88,-88,4,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0
1,1,2021-9-01,2021,SEP,1,AL,Alabama,1973,4,3,...,1,4,6,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0
2,2,2021-9-13,2021,SEP,13,GA,Georgia,1970,4,1,...,1,3,1,0.043,58816.0,5828605.0,54.90,4823331.0,45.43,0
3,3,2021-9-01,2021,SEP,1,AL,Alabama,1969,3,6,...,-88,-88,-88,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0
4,4,2021-9-01,2021,SEP,1,AL,Alabama,1977,4,3,...,-88,-88,-88,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0

In [7]:
master.MORTLMTH.unique()

array([-88,   1,   2, -99,   3])

In [ ]:
master = master[['YMFIPS', 'STATE', ]]

In [5]:
us_states.head()

,date,geoid,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,2020-01-21,USA-53,Washington,1,0.14,0.0,0,0.0,0.0
1,2020-01-22,USA-53,Washington,0,0.14,0.0,0,0.0,0.0
2,2020-01-23,USA-53,Washington,0,0.14,0.0,0,0.0,0.0
3,2020-01-24,USA-53,Washington,0,0.14,0.0,0,0.0,0.0
4,2020-01-24,USA-17,Illinois,1,0.14,0.0,0,0.0,0.0

In [11]:
def get_month_year_us(date):
    date_list = date.split("-")
    year = date_list[0]
    month = date_list[1].lstrip("0")
    month_year_list = [month, year]
    month_year = "/".join(month_year_list)
    return month_year

In [12]:
us_states['month_year'] = us_states['date'].apply(lambda date: get_month_year_us(date))

In [13]:
us_states.head()

,date,geoid,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k,month_year
0,2020-01-21,USA-53,Washington,1,0.14,0.0,0,0.0,0.0,1/2020
1,2020-01-22,USA-53,Washington,0,0.14,0.0,0,0.0,0.0,1/2020
2,2020-01-23,USA-53,Washington,0,0.14,0.0,0,0.0,0.0,1/2020
3,2020-01-24,USA-53,Washington,0,0.14,0.0,0,0.0,0.0,1/2020
4,2020-01-24,USA-17,Illinois,1,0.14,0.0,0,0.0,0.0,1/2020

In [14]:
def get_state_fips_us(geoid):
    geoid_list = geoid.split("-")
    state_fips = geoid_list[1]
    return state_fips

In [15]:
us_states['state_fips'] = us_states['geoid'].apply(lambda geoid: get_state_fips_us(geoid))

In [16]:
us_states.head()

,date,geoid,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k,month_year,state_fips
0,2020-01-21,USA-53,Washington,1,0.14,0.0,0,0.0,0.0,1/2020,53
1,2020-01-22,USA-53,Washington,0,0.14,0.0,0,0.0,0.0,1/2020,53
2,2020-01-23,USA-53,Washington,0,0.14,0.0,0,0.0,0.0,1/2020,53
3,2020-01-24,USA-53,Washington,0,0.14,0.0,0,0.0,0.0,1/2020,53
4,2020-01-24,USA-17,Illinois,1,0.14,0.0,0,0.0,0.0,1/2020,17

### Retrieving required cols

In [17]:
us_states = us_states[['month_year', 'state_fips', 'cases_avg_per_100k', 'deaths_avg_per_100k']]

In [18]:
us_states.head()

  month_year state_fips  cases_avg_per_100k  deaths_avg_per_100k
0     1/2020         53                 0.0                  0.0
1     1/2020         53                 0.0                  0.0
2     1/2020         53                 0.0                  0.0
3     1/2020         53                 0.0                  0.0
4     1/2020         17                 0.0                  0.0

### Grouping states df

In [29]:
states_grouped = us_states.groupby(['month_year', 'state_fips']).mean()

In [30]:
states_grouped.head()

                       cases_avg_per_100k  deaths_avg_per_100k
month_year state_fips
1/2020     04                    0.000000             0.000000
           06                    0.000000             0.000000
           17                    0.000000             0.000000
           53                    0.000000             0.000000
1/2021     01                   67.259032             1.578387

In [49]:
states_grouped.reset_index(inplace=True)

In [50]:
states_grouped.head()

  month_year state_fips  cases_avg_per_100k  deaths_avg_per_100k
0     1/2020         04            0.000000             0.000000
1     1/2020         06            0.000000             0.000000
2     1/2020         17            0.000000             0.000000
3     1/2020         53            0.000000             0.000000
4     1/2021         01           67.259032             1.578387

### working to clean up master

In [32]:
master.columns

Index(['Unnamed: 0', 'YMFIPS', 'YEAR', 'MONTH', 'FIPS', 'STATE', 'LOCATION',
       'TBIRTH_YEAR', 'EEDUC', 'THHLD_NUMPER', 'THHLD_NUMKID', 'THHLD_NUMADLT',
       'WRKLOSS', 'KINDWORK', 'ANXIOUS', 'WORRY', 'DOWN', 'MORTLMTH',
       'MORTCONF', 'INCOME', 'REMPCT', 'CDCCOUNT', 'people_vaccinated',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated',
       'people_fully_vaccinated_per_hundred', 'lockdown'],
      dtype='object')

In [31]:
master.head()

,Unnamed: 0,YMFIPS,YEAR,MONTH,FIPS,STATE,LOCATION,TBIRTH_YEAR,EEDUC,THHLD_NUMPER,...,MORTLMTH,MORTCONF,INCOME,REMPCT,CDCCOUNT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,lockdown
0,0,2021-9-01,2021,SEP,1,AL,Alabama,1941,7,1,...,-88,-88,4,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0
1,1,2021-9-01,2021,SEP,1,AL,Alabama,1973,4,3,...,1,4,6,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0
2,2,2021-9-13,2021,SEP,13,GA,Georgia,1970,4,1,...,1,3,1,0.043,58816.0,5828605.0,54.90,4823331.0,45.43,0
3,3,2021-9-01,2021,SEP,1,AL,Alabama,1969,3,6,...,-88,-88,-88,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0
4,4,2021-9-01,2021,SEP,1,AL,Alabama,1977,4,3,...,-88,-88,-88,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0

In [35]:
def get_fips_master(ymfips):
    ymfips_list = ymfips.split("-")
    state_fips = ymfips_list[2]
    return state_fips

In [36]:
master['state_fips'] = master['YMFIPS'].apply(lambda ymfips: get_fips_master(ymfips))

In [37]:
master.head()

,Unnamed: 0,YMFIPS,YEAR,MONTH,FIPS,STATE,LOCATION,TBIRTH_YEAR,EEDUC,THHLD_NUMPER,...,MORTCONF,INCOME,REMPCT,CDCCOUNT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,lockdown,state_fips
0,0,2021-9-01,2021,SEP,1,AL,Alabama,1941,7,1,...,-88,4,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0,01
1,1,2021-9-01,2021,SEP,1,AL,Alabama,1973,4,3,...,4,6,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0,01
2,2,2021-9-13,2021,SEP,13,GA,Georgia,1970,4,1,...,3,1,0.043,58816.0,5828605.0,54.90,4823331.0,45.43,0,13
3,3,2021-9-01,2021,SEP,1,AL,Alabama,1969,3,6,...,-88,-88,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0,01
4,4,2021-9-01,2021,SEP,1,AL,Alabama,1977,4,3,...,-88,-88,0.032,44878.0,2583590.0,52.69,2089852.0,42.62,0,01

In [38]:
def get_month_year_master(ymfips):
    ymfips_list = ymfips.split("-")
    month = ymfips_list[1]
    year = ymfips_list[0]
    month_year_list = [month, year]
    month_year = "/".join(month_year_list)
    return month_year

In [39]:
master['month_year'] = master['YMFIPS'].apply(lambda ymfips: get_month_year_master(ymfips))

In [42]:
master.columns

Index(['Unnamed: 0', 'YMFIPS', 'YEAR', 'MONTH', 'FIPS', 'STATE', 'LOCATION',
       'TBIRTH_YEAR', 'EEDUC', 'THHLD_NUMPER', 'THHLD_NUMKID', 'THHLD_NUMADLT',
       'WRKLOSS', 'KINDWORK', 'ANXIOUS', 'WORRY', 'DOWN', 'MORTLMTH',
       'MORTCONF', 'INCOME', 'REMPCT', 'CDCCOUNT', 'people_vaccinated',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated',
       'people_fully_vaccinated_per_hundred', 'lockdown', 'state_fips',
       'month_year'],
      dtype='object')

### Getting required master cols

In [43]:
master = master[['month_year', 'state_fips', 'MORTCONF', 'ANXIOUS', 'WORRY', 'DOWN', 'REMPCT', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'lockdown']]

In [44]:
master.head()

,month_year,state_fips,MORTCONF,ANXIOUS,WORRY,DOWN,REMPCT,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,lockdown
0,9/2021,01,-88,1,1,1,0.032,52.69,42.62,0
1,9/2021,01,4,4,1,1,0.032,52.69,42.62,0
2,9/2021,13,3,1,1,3,0.043,54.90,45.43,0
3,9/2021,01,-88,3,3,1,0.032,52.69,42.62,0
4,9/2021,01,-88,4,4,4,0.032,52.69,42.62,0

In [45]:
master[master == -88] = np.nan

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_95187/1468948051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master[master == -88] = np.nan
/Users/dev/miniforge3/envs/ml4t/lib/python3.8/site-packages/pandas/core/frame.py:3215: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(-key, value, inplace=True)

In [46]:
master.head()

,month_year,state_fips,MORTCONF,ANXIOUS,WORRY,DOWN,REMPCT,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,lockdown
0,9/2021,01,NaN,1.0,1.0,1.0,0.032,52.69,42.62,0
1,9/2021,01,4.0,4.0,1.0,1.0,0.032,52.69,42.62,0
2,9/2021,13,3.0,1.0,1.0,3.0,0.043,54.90,45.43,0
3,9/2021,01,NaN,3.0,3.0,1.0,0.032,52.69,42.62,0
4,9/2021,01,NaN,4.0,4.0,4.0,0.032,52.69,42.62,0

In [47]:
master_grouped = master.groupby(['month_year', 'state_fips']).mean()

In [48]:
master_grouped.head()

                       MORTCONF   ANXIOUS     WORRY      DOWN  REMPCT  \
month_year state_fips
1/2021     01          2.992893  0.935719  0.619616  0.377734   0.046
           02          3.516503  1.560832  1.011381  0.958006   0.089
           04          3.458671  1.475797  0.936788  0.934226   0.112
           05          3.173059  1.400608  0.879027  0.635866   0.057
           06          3.347554  1.531968  1.083828  0.977633   0.131

                       people_vaccinated_per_hundred  \
month_year state_fips
1/2021     01                                   6.08
           02                                   9.98
           04                                   6.88
           05                                   8.11
           06                                   6.88

                       people_fully_vaccinated_per_hundred  lockdown
month_year state_fips
1/2021     01                                         1.13         1
           02                                         3.36         0
           04                                         1.27         0
           05                                         1.86         0
           06                                         1.41         0

In [51]:
master_grouped.reset_index(inplace=True)

In [52]:
master_grouped.head()

,month_year,state_fips,MORTCONF,ANXIOUS,WORRY,DOWN,REMPCT,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,lockdown
0,1/2021,01,2.992893,0.935719,0.619616,0.377734,0.046,6.08,1.13,1
1,1/2021,02,3.516503,1.560832,1.011381,0.958006,0.089,9.98,3.36,0
2,1/2021,04,3.458671,1.475797,0.936788,0.934226,0.112,6.88,1.27,0
3,1/2021,05,3.173059,1.400608,0.879027,0.635866,0.057,8.11,1.86,0
4,1/2021,06,3.347554,1.531968,1.083828,0.977633,0.131,6.88,1.41,0

In [54]:
df_joined = master_grouped.merge(states_grouped, how='left', left_on=['month_year','state_fips'], right_on = ['month_year','state_fips'])

In [55]:
df_joined.head()

,month_year,state_fips,MORTCONF,ANXIOUS,WORRY,DOWN,REMPCT,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,lockdown,cases_avg_per_100k,deaths_avg_per_100k
0,1/2021,01,2.992893,0.935719,0.619616,0.377734,0.046,6.08,1.13,1,67.259032,1.578387
1,1/2021,02,3.516503,1.560832,1.011381,0.958006,0.089,9.98,3.36,0,34.067742,0.256774
2,1/2021,04,3.458671,1.475797,0.936788,0.934226,0.112,6.88,1.27,0,106.724516,1.935484
3,1/2021,05,3.173059,1.400608,0.879027,0.635866,0.057,8.11,1.86,0,77.646129,1.310645
4,1/2021,06,3.347554,1.531968,1.083828,0.977633,0.131,6.88,1.41,0,87.504516,1.198065

month_year  state_fips  MORTCONF  ANXIOUS  WORRY  DOWN   REMPCT  people_vaccinated_per_hundred  people_fully_vaccinated_per_hundred  lockdown  cases_avg_per_100k  deaths_avg_per_100k
False       False       False     False    False  False  False   False                          False                                False     False               False                  458
                                                                 True                           True                                 False     False               False                  409
dtype: int64

In [59]:
df_cols = df_joined[['MORTCONF', 'ANXIOUS', 'WORRY', 'DOWN', 'REMPCT', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'cases_avg_per_100k', 'deaths_avg_per_100k']]

In [60]:
df = df_cols

In [61]:
normalized_df=(df-df.mean())/df.std()

In [62]:
normalized_df.head()

,MORTCONF,ANXIOUS,WORRY,DOWN,REMPCT,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,cases_avg_per_100k,deaths_avg_per_100k
0,-2.911679,-1.330306,-1.210421,-1.854888,-0.807773,-1.694020,-1.544762,1.837387,3.601251
1,0.597812,0.755253,0.045431,0.104066,-0.066454,-1.505873,-1.434839,0.412670,-0.256235
2,0.210196,0.471552,-0.193687,0.023784,0.330065,-1.655426,-1.537861,3.531421,4.643535
3,-1.704119,0.220699,-0.378846,-0.983453,-0.618133,-1.596087,-1.508778,2.283248,2.819773
4,-0.534567,0.658953,0.277668,0.170323,0.657624,-1.655426,-1.530960,2.706413,2.491176

In [63]:
df_joined[['MORTCONF', 'ANXIOUS', 'WORRY', 'DOWN', 'REMPCT', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'cases_avg_per_100k', 'deaths_avg_per_100k']] = normalized_df

In [64]:
df_joined.head()

,month_year,state_fips,MORTCONF,ANXIOUS,WORRY,DOWN,REMPCT,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,lockdown,cases_avg_per_100k,deaths_avg_per_100k
0,1/2021,01,-2.911679,-1.330306,-1.210421,-1.854888,-0.807773,-1.694020,-1.544762,1,1.837387,3.601251
1,1/2021,02,0.597812,0.755253,0.045431,0.104066,-0.066454,-1.505873,-1.434839,0,0.412670,-0.256235
2,1/2021,04,0.210196,0.471552,-0.193687,0.023784,0.330065,-1.655426,-1.537861,0,3.531421,4.643535
3,1/2021,05,-1.704119,0.220699,-0.378846,-0.983453,-0.618133,-1.596087,-1.508778,0,2.283248,2.819773
4,1/2021,06,-0.534567,0.658953,0.277668,0.170323,0.657624,-1.655426,-1.530960,0,2.706413,2.491176

In [65]:
df = df_joined

In [66]:
df.head()

,month_year,state_fips,MORTCONF,ANXIOUS,WORRY,DOWN,REMPCT,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,lockdown,cases_avg_per_100k,deaths_avg_per_100k
0,1/2021,01,-2.911679,-1.330306,-1.210421,-1.854888,-0.807773,-1.694020,-1.544762,1,1.837387,3.601251
1,1/2021,02,0.597812,0.755253,0.045431,0.104066,-0.066454,-1.505873,-1.434839,0,0.412670,-0.256235
2,1/2021,04,0.210196,0.471552,-0.193687,0.023784,0.330065,-1.655426,-1.537861,0,3.531421,4.643535
3,1/2021,05,-1.704119,0.220699,-0.378846,-0.983453,-0.618133,-1.596087,-1.508778,0,2.283248,2.819773
4,1/2021,06,-0.534567,0.658953,0.277668,0.170323,0.657624,-1.655426,-1.530960,0,2.706413,2.491176

In [67]:
df.to_csv("testing.csv")

In [69]:
df.value_counts()

month_year  state_fips  MORTCONF   ANXIOUS    WORRY      DOWN       REMPCT     people_vaccinated_per_hundred  people_fully_vaccinated_per_hundred  lockdown  cases_avg_per_100k  deaths_avg_per_100k
1/2021      01          -2.911679  -1.330306  -1.210421  -1.854888  -0.807773  -1.694020                      -1.544762                            1          1.837387            3.601251              1
7/2021      11           2.137631   1.537606   1.409204   1.108362   4.088376   1.098757                       1.098811                            0         -0.863944           -0.929435              1
            09          -0.979300  -2.725000  -3.335227  -3.143351  -0.531933   1.384354                       1.518785                            0         -0.885918           -0.957681              1
            08           2.127315  -1.924782  -1.628993  -1.874522  -0.290574   0.921223                       1.082544                            0         -0.662919           -0.742069              1
            06           0.495989  -0.515813  -0.578928  -0.514522  -0.014734   1.139763                       1.003183                            0         -0.619676           -0.794795              1
                                                                                                                                                                                                       ..
3/2021      53           0.823105   0.420730   0.049557   0.730768   0.743824  -0.547288                      -1.123801                            1         -0.625533           -0.621552              1
            51           1.413429  -0.855839  -1.027060  -0.646239   0.830024  -0.477336                      -1.112957                            0         -0.331612            1.264351              1
            50           0.340516  -0.146345  -0.623242   0.019988   0.157665  -0.370237                      -1.110985                            1         -0.181791           -0.662038              1
            49           1.401416   0.405192   0.172517   0.832827  -0.204374  -0.761969                      -1.109013                            0         -0.394406           -0.382401              1
9/2021      56           0.400640  -2.279451  -1.552247  -1.684956  -1.049132   0.351958                       0.450610                            0          2.715791            1.249537              1
Length: 458, dtype: int64

In [70]:
df.dtypes

month_year                              object
state_fips                              object
MORTCONF                               float64
ANXIOUS                                float64
WORRY                                  float64
DOWN                                   float64
REMPCT                                 float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
lockdown                                 int64
cases_avg_per_100k                     float64
deaths_avg_per_100k                    float64
dtype: object

In [72]:
df['month_year'] = pd.to_datetime(df['month_year'], format='%m/%Y')

In [73]:
df.head()

,month_year,state_fips,MORTCONF,ANXIOUS,WORRY,DOWN,REMPCT,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,lockdown,cases_avg_per_100k,deaths_avg_per_100k
0,2021-01-01,01,-2.911679,-1.330306,-1.210421,-1.854888,-0.807773,-1.694020,-1.544762,1,1.837387,3.601251
1,2021-01-01,02,0.597812,0.755253,0.045431,0.104066,-0.066454,-1.505873,-1.434839,0,0.412670,-0.256235
2,2021-01-01,04,0.210196,0.471552,-0.193687,0.023784,0.330065,-1.655426,-1.537861,0,3.531421,4.643535
3,2021-01-01,05,-1.704119,0.220699,-0.378846,-0.983453,-0.618133,-1.596087,-1.508778,0,2.283248,2.819773
4,2021-01-01,06,-0.534567,0.658953,0.277668,0.170323,0.657624,-1.655426,-1.530960,0,2.706413,2.491176

In [76]:
df.to_csv("testing.csv")